
.word-label {
    -fx-font-size: 55px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-alignment: center;
}


.mic-button {
    -fx-font-size: 24px;
    -fx-padding: 15px 30px;
    -fx-background-color: linear-gradient(to bottom, #4CAF50, #45a049);
    -fx-text-fill: white;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0, 2, 2);
    -fx-cursor: hand;
}

.mic-button:hover {
    -fx-background-color: linear-gradient(to bottom, #66BB6A, #4CAF50);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-transition: all 0.2s ease-in-out;
}

.feedback-label {
    -fx-font-size: 35px;
    -fx-alignment: center;
}


.correct {
    -fx-text-fill: #2e7d32;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 3, 0, 1, 1); /* Subtle shadow for emphasis */
}


.error {
    -fx-text-fill: #d32f2f;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 3, 0, 1, 1);
}


.card-container {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 2, 2);
    -fx-max-width: 1000px;
    -fx-min-height: 450px;
    -fx-alignment: center;
}

#speakerButton {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

#speakerButton .image-view {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 2, 2); /* Hiệu ứng bóng */
}